<div class="row bg-light">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <table class="table">
      <thead><tr><th>About Us</th></tr></thead>
      <tbody><tr><td>Our Story</td></tr></tbody>
    </table>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <table class="table">
      <thead><tr><th>Products</th></tr></thead>
      <tbody>
        <tr><td>Eye Wear</td></tr>
        <tr><td>Sun Glass</td></tr>
        <tr><td>Computer Glass</td></tr>
        <tr><td>Contact Lens</td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <table class="table">
      <thead><tr><th>Store</th></tr></thead>
      <tbody>
        <tr><td>Find Store</td></tr>
        <tr><td>Book Eye Test</td></tr>
        <tr><td>Home Eye Test</td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <table class="table">
      <thead><tr><th>Contact Us</th></tr></thead>
      <tbody>
        <tr><td><i class="material-icons mr-2 text-success align-middle">phone</i><span>+91 9876543210</span></td></tr>
        <tr><td><i class="material-icons mr-2 text-danger align-middle">mail</i><span>metroopticals77@gmail.com</span></td></tr>
        <tr><td><i class="material-icons mr-2 text-primary align-middle">facebook</i><span>Metro Opticals</span></td></tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-12 copyright">
    <span class="float-right mr-3">Copyright &#169; Metro Opticals</span>
  </div>
</div>

