<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <table class="table">
      <thead><tr><th>About Us</th></tr></thead>
      <tbody><tr><td>Our Story</td></tr></tbody>
    </table>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <table class="table">
      <thead><tr><th>Products</th></tr></thead>
      <tbody>
        <tr><td>Eye Wear</td></tr>
        <tr><td>Sun Glass</td></tr>
        <tr><td>Computer Glass</td></tr>
        <tr><td>Contact Lens</td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <table class="table">
      <thead><tr><th>Store</th></tr></thead>
      <tbody>
        <tr><td>Find Store</td></tr>
        <tr><td>Book Eye Test</td></tr>
        <tr><td>Home Eye Test</td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <table class="table">
      <thead><tr><th>Contact Us</th></tr></thead>
      <tbody>
        <tr><td>Phone</td></tr>
        <tr><td>Mail</td></tr>
        <tr><td>Whatsapp</td></tr>
      </tbody>
    </table>
  </div>

</div>
