<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#carousel" *ngFor="let banner of banners; index as i"></li>
  </ul> <!-- The slideshow -->
  <div class="carousel-inner">
    <div *ngFor="let banner of banners" class="carousel-item"> <img [src]="banner.url" [alt]="banner.title"> </div>
  </div> <!-- Left and right controls --> <a class="carousel-control-prev" href="#carousel" data-slide="prev"> <i
      class="material-icons nav-icon">chevron_left</i> </a> <a class="carousel-control-next" href="#carousel"
    data-slide="next"> <i class="material-icons nav-icon">chevron_right</i> </a>
</div>
<br/>
